%table.table
  %thead
    %tr
      %th id
      %th title
      %th summary
      %th body

  %tbody
    - @builds.each do |build|
      %tr
        %td= build.id
        %td= build.title
        %td= build.summary
        %td= build.body
        %td= link_to 'Delete', build_path(build), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'
