=  form_for hero do |f|

  %p
    Name
    = f.text_field :name

  %p
    Specialization
    = f.select :universe, Specialization.all

  %p
    Universe
    = f.select :universe, Universe.all

  %p
    Base Life
    = f.text_field :base_life

  %p
    Attack
    = f.text_field :attack

  %p
    Abilities
    = f.text_field :abilities

  %p
    Speed
    = f.text_field :speed


  %p
    = f.submit

