%h2= @hero.name
%p.lead
  = @hero.universe

%h3 Talents
%ul
  - @hero.talents.each do |talent|
    %li= talent.name

%h3 Builds
%table
  %thead
    %tr
      %th Title
      %th Summary
      %th Body
  %tbody
    - @hero.builds.each do |build|
      %tr
        %td= build.title
        %td= build.summary
        %td= build.body


